[submodule "TeViT"]
	path = TeViT
	url = git@github.com:supermomo668/TeViT.git
[submodule "LLaVA"]
	path = LLaVA
	url = https://github.com/haotian-liu/LLaVA.git
[submodule "grounded-video-description"]
	path = grounded-video-description
	url = https://github.com/supermomo668/grounded-video-description.git
